id: 1a8ec0a1-eab3-45c1-b3d6-2dae9b41d05c
name: Tabular Data Diagnostics
description: TODO
is_active: false
project_type: 8
param_groups:
- name: inputs
  params:
  - name: dataset
    description: Dataset id that is used for fetching dataset from coretex.
    value: null
    data_type: dataset
    required: true
- name: parameters
  params:
  - name: validationSplit
    description: Percentage of data from the dataset which will be used as validation
      data
    value: 0.2
    data_type: float
    required: true
  - name: labelColumn
    description: Column name which will be used as the output of the model
    value: null
    data_type: str
    required: true
  - name: excludeColumns
    description: Column name's which will be excluded from training
    value: null
    data_type: list[str]
    required: false
  - name: maxDepth
    description: Hyperparameter which is defined as the longest path between the root
      node and the leaf node of a tree in Random Forest Classifier. Using the max_depth
      parameter, You can limit up to what depth You want every tree in your random
      forest to grow. This parameter influence the size of model and model accuracy.
      If there is large amount of data and model size is too large our suggestion
      is to limit max_depth parameter on a value that is less than 10.
    value: 10
    data_type: int
    required: true
  - name: nEstimators
    description: 'Number of trees in Random Forest. '
    value: 100
    data_type: int
    required: true
  - name: minSamplesSplit
    description: Parameter that tells the decision tree in a random forest the minimum
      required number of observations in any given node in order to split it.
    value: 2
    data_type: int
    required: true
